{% extends 'base.html' %}

{% block title %}Заказы{% endblock %}

{% block content %}

    <div class="container" id="app">
        <div class="row mt-2"><div class="col text-right"> <a href="/logout" class="btn btn-outline-secondary"> {{request.user}} | Выход</a></div></div>
        <div class="row" style="margin-top: 20vh">
            <div class="col-6 offset-3 text-center">

                <h5 class="text-center">Оформить заказ</h5>
                <hr>
                <div class="row mt-2">
                    <div class="col-6 text-right">Номер телефона:</div>
                    <div class="col-6"><input class="form-control" v-model="phone" placeholder="Телефон" required></div>
                </div>
                <div class="row mt-2">
                    <div class="col-6 text-right">Адрес:</div>
                    <div class="col-6"><input class="form-control" v-model="address" placeholder="Адрес" required></div>
                </div>
                <div class="row mt-2">
                    <div class="col-6 text-right">ФИО:</div>
                    <div class="col-6"><input class="form-control" v-model="full_name" placeholder="ФИО" required></div>
                </div>
                <div class="row mt-2">
                    <div class="col-6 text-right">Email:</div>
                    <div class="col-6"><input class="form-control" v-model="email" placeholder="Email" required></div>
                </div>
                <hr>
                <h5>Выбрать товары</h5>
                <small>(список получаем из endpoint 'api/items')</small>
                <div class="row mt-2">
                    <div class="col-6 text-right">Выберите товар из списка:</div>
                    <div class="col-6">
                        <select class="form-control" @change="select_item()" v-model="itemSelected">
                            <option v-for="item in items" v-bind:value="item">[[item.name]]</option>
                        </select>
                    </div>
                </div>
                <!--[[itemSelected]]-->
                <div v-if="orderedItems" class="row mt-3">
                    <div class="col-1">ID</div>
                    <div class="col-5">Наименование</div>
                    <div class="col-2">Стоимость</div>
                    <div class="col-4">Количество</div>
                </div>
                <div class="row mt-2" v-for="(orderedItem, key) in orderedItems" v-bind:key="orderedItem.id">
                    <div class="col-1">[[ orderedItem.item.id ]]</div>
                    <div class="col-5">[[ orderedItem.item.name ]]</div>
                    <div class="col-2">[[ orderedItem.item.price ]] &#8381;</div>
                    <div class="col-4">
                        <button class="btn btn-sm btn-outline-success mr-2" title="Уменьшить количество" @click="orderedItem.quantity -= 1">-</button>
                        [[ orderedItem.quantity ]]
                        <button class="btn btn-sm btn-outline-success ml-2" title="Увеличить количество" @click="orderedItem.quantity += 1">+</button>
                        <button class="btn btn-sm btn-outline-danger" title="Удалить товар" @click="$delete(orderedItems, key)">X</button>
                    </div>
                </div>
                <button v-if="orderedItems" class="btn btn-outline-success mt-3" @click="place_new_order">Оформить заказ</button>
                  <p class="mt-2" v-if="errors.length">
                    <b>Пожалуйста исправьте ошибки:</b>
                    <ul>
                      <li v-for="error in errors">[[ error ]]</li>
                    </ul>
                  </p>
                    <p v-show="success" class="text-success">Заказ оформлен</p>
            </div>
        </div>
    </div>

    <script>
        var api_url = '/api/';

        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                phone: '',
                address: '',
                full_name: '',
                email: '',
                itemSelected: '',
                items: [],
//                orderedItems: {},
                orderedItems: [],
                errors: [],
                success: false,


            },
            methods: {
                get_items_list() {
                    axios.get(api_url + 'items').then(response => {
                        this.items = response.data.results;
                    }).catch(error => {
                        console.log(error);
                    });
                },
                select_item() {
//                    this.orderedItems[this.itemSelected.id] = {'quantity': 1, 'item': this.itemSelected};
                    this.orderedItems.push({'quantity': 1, 'item': this.itemSelected});
                    console.log(this.orderedItems);
                },
                increment_item(id, change) {
                    console.log(id, change);
                },
                place_new_order() {
                    console.log(this.orderedItems);
                    this.errors = [];
                    if (!this.phone) {
                        this.errors.push('Укажите номер телефона');
                    }
                    if (!this.address) {
                        this.errors.push('Укажите адрес.');
                    }
                    if (!this.full_name) {
                        this.errors.push('Укажите ФИО.');
                    }
                    if (!this.email) {
                        this.errors.push('Укажите email.');
                    }

                    if (!(this.orderedItems).length) {
                        this.errors.push('Выберите товары.');
                    }

                    if (this.phone && this.address && this.full_name && this.email){
                        this.errors = [];
                        console.log('Placing new order');

                        const form = new FormData();
                        form.append('phone', this.phone);
                        form.append('address', this.address);
                        form.append('full_name', this.full_name);
                        form.append('email', this.email);
                        form.append('items', JSON.stringify(this.orderedItems));

                        axios.post(api_url + 'orders', form).then(response => {
                            success = true;
                            console.log(response);
                        }).catch(error => {
                            console.log(error);
                        });
                    }
                },
            },
            created() {
                this.get_items_list();
            }
        })
    </script>

{% endblock %}